@import "reset.css";
@import "fonts.css";

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
}
img {
  max-width: 100%;
}


/* Header */

header {
  height: 60px;
  background: #000;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}








/* EOF */
